<script>
  import { setContext } from "svelte";
  import { fade } from "svelte/transition";
  import context from "./context";
  import { notifications } from "./store";

  setContext(context, notifications);
</script>

<slot />
<div class="fixed z-10 top-0 right-0">
  <div class="flex flex-col-reverse justify-center sm:justify-end p-2">
    {#each $notifications as notification}
      <div transition:fade={{ duration: 500 }} class="transform transition-all">
        <div
          class="{notification.type === 'info'
            ? 'bg-gray-600 text-white'
            : notification.type === 'error'
            ? 'bg-red-700 text-white'
            : 'bg-yellow-500'} rounded-lg shadow-xl p-4 m-2"
        >
          <p>{notification.message}</p>
        </div>
      </div>
    {/each}
  </div>
</div>
