<script lang="typescript">
  import { slide } from "svelte/transition";
  import SubHeader from "../components/headers/SubHeader.svelte";
  import SecondaryButton from "../components/buttons/Secondary.svelte";
  import Dialog from "../components/layout/Dialog.svelte";
  import { roadmap } from "./info/roadmap";
  import { changelog } from "./info/changelog";
  import BackToStart from "../components/navigation/backToStart.svelte";

  let showOlderVersions = false;

  function toggleVersions() {
    showOlderVersions = !showOlderVersions;
  }
</script>

<Dialog header="Changes">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 items-start">
    <div>
      <SubHeader>Changelog</SubHeader>
      {#each changelog.slice(0, showOlderVersions ? 10 : 3) as entry}
        <div transition:slide class="mb-4">
          <h5>
            <span class="font-bold">{entry.version}</span> ({entry.name})
          </h5>
          <ul class="list-disc list-inside mt-2 ml-4">
            {#each entry.changes as change}
              <li>{change}</li>
            {/each}
          </ul>
        </div>
      {/each}
      <SecondaryButton onClick={toggleVersions}>
        {#if showOlderVersions}
          Less Versions
        {:else}
          Older Versions
        {/if}
      </SecondaryButton>
    </div>
    <div class="col-span-2">
      <SubHeader>Roadmap</SubHeader>
      {#each roadmap as entry}
        <h5 class="font-bold">{entry.priority}</h5>
        <ul class="list-disc list-inside mt-2 ml-4 mb-4">
          {#each entry.items as item}
            <li>{item}</li>
          {/each}
        </ul>
      {/each}
    </div>
  </div>
  <BackToStart />
</Dialog>
