<script lang="typescript">
  import { navigateTo } from "svelte-router-spa";
  import Queue from "p-queue";
  import Dialog from "../components/layout/Dialog.svelte";
  import { Client, Server } from "../types/proto/message";
  import { Game_State } from "../types/proto/game";
  import { saveToken, getToken, clearToken } from "../utils/auth";
  import Settings from "./states/Settings.svelte";
  import WaitForTask from "./states/WaitForTask.svelte";
  import ActiveGame from "./states/ActiveGame.svelte";
  import FinishedGame from "./states/FinishedGame.svelte";
  import { activeGame, ownPlayer, players, activities } from "./store";
  import BackToStart from "../components/navigation/backToStart.svelte";
  import { sendRequest } from "../utils/requests";
  import type { AttendGameResponse } from "../types/server";

  export let currentRoute: any;
  let ws: WebSocket | null = null;
  let connectSuccessful = false;
  let connectClosed = false;

  async function processMessage(ev: MessageEvent<Blob>) {
    const raw = await ev.data.arrayBuffer();
    const { message } = Server.decode(new Uint8Array(raw));
    console.info("Incoming message", message);
    if (message?.$case === "playerUpdated") {
      const { player } = message.playerUpdated;
      players.update(player!);
    } else if (message?.$case === "selfUpdated") {
      const { player } = message.selfUpdated;
      ownPlayer.update(player!);
      players.update(player!);
    } else if (message?.$case === "gameUpdated") {
      const { game } = message.gameUpdated;
      activeGame.update(game!);
    } else if (message?.$case === "playerEntered") {
      const { player } = message.playerEntered;
      players.update(player!);
      activities.update(player!.id, true);
    } else if (message?.$case === "playerLostConn") {
      const { playerId } = message.playerLostConn;
      activities.update(playerId, false);
    } else if (message?.$case === "gameDeclined") {
      activeGame.reset();
      ownPlayer.reset();
      connectClosed = true;
      ws?.close();
      ws = null;
    } else {
      console.warn("Unknown action type");
    }
  }

  const leaveGame = () => {
    sendWsMessage({
      message: {
        $case: "gameLeft",
        gameLeft: {},
      },
    });
    ws?.close();
    ws = null;
    clearToken();
    navigateTo("/");
  };

  const sendWsMessage = (msg: Client) => ws?.send(Client.encode(msg).finish());

  const createWsConnection = async () => {
    // try to attend game if no token is present
    const parsedToken = currentRoute?.namedParams?.token;
    if (!getToken() && parsedToken) {
      const attendConfirm = await sendRequest<AttendGameResponse>(
        `/api/games/${currentRoute?.namedParams?.token}/attend`,
        "POST"
      );
      if (attendConfirm) {
        saveToken(attendConfirm.token);
      }
    }

    // TODO currently we need to set port 3333 directly because proxy doesn't seem to support Websockets
    ws = new WebSocket(
      `${window.location.protocol === "https:" ? "wss" : "ws"}://${
        window.location.protocol === "https:"
          ? window.location.host
          : "localhost:3333"
      }/api/active-game`
    );
    ws.onopen = () => {
      connectClosed = false;
      connectSuccessful = true;
      sendWsMessage({
        message: {
          $case: "authConfirmed",
          authConfirmed: { token: getToken() || "" },
        },
      });
    };
    ws.onclose = (ev) => {
      ws = null;
      connectClosed = true;
    };
    ws.onerror = (ev) => {
      console.error("Error", ev);
    };

    const msgQueue = new Queue({ concurrency: 1 });
    ws.onmessage = (ev: MessageEvent<Blob>) =>
      msgQueue.add(() => processMessage(ev));
    msgQueue.start();
  };

  createWsConnection();
</script>

<Dialog header="Game">
  {#if $activeGame && ownPlayer && ws}
    {#if $activeGame.state === Game_State.STATE_INITIALIZED}
      <Settings {leaveGame} {sendWsMessage} />
    {:else if $activeGame.state === Game_State.STATE_STARTED && ownPlayer}
      <ActiveGame {leaveGame} {sendWsMessage} />
    {:else if $activeGame.state === Game_State.STATE_FINISHED && ownPlayer}
      <FinishedGame {leaveGame} />
    {:else}
      <WaitForTask {leaveGame} />
    {/if}
  {:else if connectClosed && connectSuccessful}
    <p>Game doesn't exist.</p>
    <div class="flex items-center">
      <div class="flex ml-auto">
        <BackToStart />
      </div>
    </div>
  {:else if connectClosed}
    <p>Connection lost</p>
  {:else}
    <p>Loading game</p>
  {/if}
</Dialog>
