<script lang="typescript">
  import { navigateTo } from "svelte-router-spa";
  import ActionRow from "../components/buttons/ActionRow.svelte";
  import PrimaryButton from "../components/buttons/Primary.svelte";
  import SecondaryButton from "../components/buttons/Secondary.svelte";
  import Dialog from "../components/layout/Dialog.svelte";
  import Divider from "../components/layout/Divider.svelte";
  import InternalLink from "../components/buttons/InternalLink.svelte";
  import { saveToken, clearToken, getClaims } from "../utils/auth";
  import TextInput from "../components/inputs/TextInput.svelte";
  import { sendRequest } from "../utils/requests";
  import { getNotificationsContext } from "../components/notifications/context";
  import type { AttendGameResponse } from "../types/server";

  let inputToken = "";

  let currentClaims = getClaims();
  const notificationsContext = getNotificationsContext();

  async function createGame() {
    const game = await sendRequest<AttendGameResponse>("/api/games", "PUT");
    if (!game) {
      notificationsContext.addNotification({
        message: "Creating game failed.",
        type: "error",
      });
      return;
    }
    saveToken(game.token);
    navigateTo(`/games/${game.game}`);
  }

  const onSubmit: svelte.JSX.EventHandler = (ev) => {
    ev.preventDefault();
    attendGame();
  };

  async function attendGame() {
    clearToken();

    if (!inputToken) {
      return;
    }

    const game = await sendRequest<AttendGameResponse>(
      `/api/games/${inputToken}/attend`,
      "POST"
    );
    if (!game) {
      notificationsContext.addNotification({
        message: "Attending game failed. Token might be invalid.",
        type: "error",
      });
      return;
    }

    saveToken(game.token);

    navigateTo(`/games/${inputToken?.trim()}`);
  }

  async function reattendLastGame() {
    if (!currentClaims) {
      return;
    }
    navigateTo(`/games/${currentClaims.game}`);
  }

  function forgetSession() {
    clearToken();
    currentClaims = null;
  }

  const loadStats = async () => {
    const stats = await sendRequest<{
      totalGames: number;
      totalPlayers: number;
    }>(`/api/service/statistics`, "GET");
    if (!stats) {
      notificationsContext.addNotification({
        message: "Loading game statistics has failed",
        type: "warning",
      });
      return { totalGames: 0, totalPlayers: 0 };
    }

    return stats;
  };
</script>

<Dialog header="Lobby">
  <p class="bg-red-700 text-white p-4 rounded-md mb-8">
    <span class="font-bold"
      >This app is currently in Alpha state. Safari and IE are not supported yet</span
    > (TLS 1.3 support for Websockets required).
  </p>
  {#if currentClaims}
    <p>Hey <b>{currentClaims.name}</b>!</p>
  {:else}
    <p>Hey friend!</p>
  {/if}
  <p class="mb-8">
    {#await loadStats()}
      Loading stats...
    {:then { totalGames, totalPlayers }}
      There are currently
      {totalGames}
      active games and {totalPlayers} active players.
    {/await}
  </p>
  {#if !currentClaims}
    <SecondaryButton onClick={createGame}>Create new game</SecondaryButton>
    <Divider spacing="md"><span slot="text">or</span></Divider>
    <form on:submit={onSubmit}>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <TextInput id="token" placeholder="Token" bind:value={inputToken} />
        <PrimaryButton type="submit" disabled={!inputToken}
          >Attend existing game</PrimaryButton
        >
      </div>
    </form>
  {:else}
    <PrimaryButton onClick={reattendLastGame}>Reattend last game</PrimaryButton>
    <Divider spacing="md"><span slot="text">or</span></Divider>
    <SecondaryButton onClick={forgetSession}>Forget session</SecondaryButton>
  {/if}
  <div class="mt-8" />
  <ActionRow>
    <InternalLink href="/info">More information about this game</InternalLink>
  </ActionRow>
</Dialog>
