<script lang="typescript">
  import SubHeader from "../components/headers/SubHeader.svelte";
  import Dialog from "../components/layout/Dialog.svelte";
  import BackToStart from "../components/navigation/backToStart.svelte";
</script>

<Dialog header="Imprint">
  <SubHeader>Contact</SubHeader>
  <p>Florian Richter</p>
  <p>Rathenaustr. 6, 99085 Erfurt</p>
  <p>floririchte@gmail.com</p>
  <BackToStart />
</Dialog>
