<script lang="typescript">
  import { navigateTo } from "svelte-router-spa";
  import PrimaryButton from "../components/buttons/Primary.svelte";
  import Dialog from "../components/layout/Dialog.svelte";
  import ActionRow from "../components/buttons/ActionRow.svelte";
  import ExternalLink from "../components/buttons/ExternalLink.svelte";

  const navigateToStart = async () => navigateTo("/");
</script>

<Dialog header="Info">
  <div class="inline-grid gap-4 grid-cols-1">
    <p>
      This is a simple Texas Hold'em Poker implementation based on some fancy
      tech.
    </p>
    <p>
      Please note this app is currently in <span class="font-bold"
        >a very early state</span
      >. You might experience an unexpected game states or bugs. To improve your
      game experience in the future please contact the developer. If you are a
      developer yourself simply <ExternalLink
        href="https://gitlab.com/neuland1/nl-app/-/issues"
        >file an issue or create a new merge request on GitLab</ExternalLink
      >.
    </p>
    <ActionRow>
      <div />
      <PrimaryButton onClick={navigateToStart}>Let's play</PrimaryButton>
    </ActionRow>
  </div>
</Dialog>
