<script lang="typescript">
  import SubHeader from "../components/headers/SubHeader.svelte";
  import Dialog from "../components/layout/Dialog.svelte";
  import BackToStart from "../components/navigation/backToStart.svelte";
</script>

<Dialog header="Privacy">
  <SubHeader>Privacy Information</SubHeader>
  <div class="grid grid-cols-1 gap-4">
    <p>
      Your data belongs to you. I take this seriously. The following data is
      processed:
    </p>
    <ul class="list-disc list-inside ml-4">
      <li>IP address</li>
      <li>User Agent</li>
      <li>Chosen name</li>
      <li>Attended game</li>
    </ul>
    <p>
      This app doesn't rely on any external services. Your data is processed
      only for gaming purposes and not saved permanently or forwarded to any
      other destination. The game itself is hosted by
      <a href="https://www.netcup.de">Netcup</a> on servers located in Germany.
    </p>
  </div>
  <BackToStart />
</Dialog>
