<script lang="typescript">
  import { Router } from "svelte-router-spa";
  import NotFound from "./errors/NotFound.svelte";
  import Unexpected from "./errors/Unexpected.svelte";
  import Info from "./Info.svelte";
  import Games from "./Home.svelte";
  import GameLobby from "./GameLobby.svelte";
  import Imprint from "./Imprint.svelte";
  import Privacy from "./Privacy.svelte";
  import Changes from "./Changes.svelte";
  import Background from "../components/layout/Background.svelte";

  const routes = [
    {
      name: "/",
      component: Games,
    },
    {
      name: "info",
      component: Info,
    },
    {
      name: "games",
      nestedRoutes: [{ name: ":token", component: GameLobby }],
    },
    {
      name: "privacy",
      component: Privacy,
    },
    {
      name: "imprint",
      component: Imprint,
    },
    {
      name: "changes",
      component: Changes,
    },
    {
      name: "errors",
      component: Unexpected,
      nestedRoutes: [{ name: "unexpected", component: Unexpected }],
    },
    {
      name: "404",
      path: "404",
      component: NotFound,
    },
  ];
</script>

<Background>
  <Router {routes} />
</Background>
