<script lang="typescript">
  export let onClick: () => Promise<void> | void = async () => {};
  export let type: "submit" | "button" = "button";
  export let disabled = false;

  const handleOnClick = async () => {
    if (onClick) {
      await onClick();
    }
  };
</script>

<button
  {type}
  on:click={handleOnClick}
  {disabled}
  class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-600 hover:bg-blue-700 rounded py-2 px-4 md:w-auto w-full transition duration-150 ease-in disabled:opacity-50"
>
  <slot />
</button>
