<script lang="typescript">
  export let onClick: () => Promise<void> | void;
  export let disabled = false;

  const handleOnClick = async () => {
    if (onClick) {
      await onClick();
    }
  };
</script>

<button
  on:click={handleOnClick}
  {disabled}
  class="flex items-center justify-center focus:outline-none text-gray-800 bg-gray-200 hover:bg-gray-300 sm:text-base rounded py-2 px-4 md:w-auto w-full transition duration-150 ease-in disabled:opacity-50"
>
  <slot />
</button>
