<script lang="typescript">
  import Icon from "svelte-awesome";
  import { gitlab, envelope } from "svelte-awesome/icons";
  import BackgroundLink from "./BackgroundLink.svelte";
  import InternalLink from "../buttons/InternalLink.svelte";
  import { sendRequest } from "../../utils/requests";

  const fetchBEVersion = () =>
    sendRequest<{ version: string }>("/api/service/info", "GET");
</script>

<div
  class="bg min-h-screen flex flex-col items-center justify-center bg-gray-300 p-2 md:p-4 lg:p-8"
>
  <slot />
  <div class="text-gray-400 mt-4 grid grid-flow-col justify-items-center gap-4">
    <div>
      {#await fetchBEVersion()}
        v?.?.?
      {:then res}
        <BackgroundLink href="/changes">v{res?.version || "?"}</BackgroundLink>
      {:catch _}
        v?.?.?
      {/await}
    </div>
    <div>•</div>
    <div>
      <InternalLink href="/imprint">Imprint</InternalLink> | <InternalLink
        href="/privacy">Privacy</InternalLink
      >
    </div>
    <div>•</div>
    <div class="grid grid-flow-col gap-4">
      <BackgroundLink href="https://gitlab.com/neuland1"
        ><Icon data={gitlab} scale="1.2" /></BackgroundLink
      >
      <BackgroundLink href="mailto:neuland@floric.dev"
        ><Icon data={envelope} scale="1.2" /></BackgroundLink
      >
    </div>
  </div>
</div>
