<script>
  import { fade } from "svelte/transition";
  import DialogHeader from "../headers/DialogHeader.svelte";

  export let header: string;
</script>

<div in:fade={{ duration: 250 }} class="w-full md:w-5/6 lg:w-3/4 2xl:w-2/3">
  <div class="text-white self-start mb-2">
    <DialogHeader>{header}</DialogHeader>
  </div>
  <div class="flex flex-col bg-white p-4 lg:p-8 rounded-md">
    <slot />
  </div>
</div>
