<script lang="typescript">
  export let spacing: "none" | "sm" | "md" | "lg" = "lg";
</script>

<div
  class="relative {spacing === 'lg'
    ? 'my-10'
    : spacing === 'sm'
    ? 'my-2'
    : spacing == 'md'
    ? 'my-6'
    : ''} h-px bg-gray-400"
>
  <div class="absolute left-0 top-0 flex justify-center w-full -mt-2">
    <span class="bg-white px-4 text-xs text-gray-600 uppercase">
      <slot name="text" />
    </span>
  </div>
</div>
