<script lang="typescript">
  import Icon from "svelte-awesome";
  import {
    check,
    times,
    question,
    arrowUp,
    eye,
    exclamation,
  } from "svelte-awesome/icons";
  import { activeGame, ownPlayer, players } from "../../routes/store";
  import type { Client } from "../../types/proto/message";
  import type { OwnPlayer } from "../../types/proto/player";
  import SecondaryButton from "../buttons/Secondary.svelte";
  import PrimaryButton from "../buttons/Primary.svelte";
  import ActionRow from "../buttons/ActionRow.svelte";
  import NumericInput from "../inputs/NumericInput.svelte";
  import ElementGroup from "../layout/ElementGroup.svelte";

  export let leaveGame: () => void;
  export let sendWsMessage: (msg: Client) => void;

  const callRound = () =>
    sendWsMessage({
      message: {
        $case: "roundCalled",
        roundCalled: {},
      },
    });
  const raiseRound = (amount: number) => {
    isRaise = false;
    sendWsMessage({
      message: {
        $case: "roundRaised",
        roundRaised: {
          amount,
        },
      },
    });
  };
  const checkRound = () =>
    sendWsMessage({
      message: {
        $case: "roundChecked",
        roundChecked: {},
      },
    });
  const fold = () => {
    isFold = false;
    sendWsMessage({
      message: {
        $case: "roundFold",
        roundFold: {},
      },
    });
  };
  const startRound = () =>
    sendWsMessage({
      message: {
        $case: "roundStarted",
        roundStarted: {},
      },
    });
  const endRound = () =>
    sendWsMessage({
      message: {
        $case: "roundEnded",
        roundEnded: {},
      },
    });
  const discloseCards = () =>
    sendWsMessage({
      message: {
        $case: "roundDisclosed",
        roundDisclosed: {},
      },
    });
  const allIn = () => {
    isAllIn = false;
    sendWsMessage({
      message: {
        $case: "roundAllIn",
        roundAllIn: {},
      },
    });
  };
  const increaseBlinds = () => {
    isIncreaseBlinds = false;
    sendWsMessage({
      message: {
        $case: "increasedBlinds",
        increasedBlinds: {
          smallBlind: newSmallBlind || 0,
        },
      },
    });
  };
  const hasActionAssigned = (name: string, player: OwnPlayer | null) =>
    !!player?.actions
      .map((a) => a.definition?.$case)
      .filter((c) => !!c)
      .find((c) => c === name);

  let isRaise = false;
  let isAllIn = false;
  let isFold = false;
  let isLeaveGame = false;
  let isIncreaseBlinds = false;
  let raiseAmount: number | undefined;
  let newSmallBlind: number | undefined;

  const toggleRaise = () => {
    raiseAmount = undefined;
    isRaise = !isRaise;
  };
  const toggleAllIn = () => {
    isAllIn = !isAllIn;
  };
  const toggleFold = () => {
    isFold = !isFold;
  };
  const toggleLeaveGame = () => {
    isLeaveGame = !isLeaveGame;
  };
  const toggleIncreaseBlinds = () => {
    newSmallBlind = undefined;
    isIncreaseBlinds = !isIncreaseBlinds;
  };
</script>

<ActionRow>
  {#if ($activeGame?.playerIds || []).length > 1}
    {#if !isLeaveGame}
      <SecondaryButton
        disabled={($ownPlayer?.actions || []).length > 0}
        onClick={toggleLeaveGame}>Leave Game</SecondaryButton
      >
    {:else}
      <ElementGroup>
        <div>Do you really want to go leave this game?</div>
        <SecondaryButton onClick={toggleLeaveGame}>Cancel</SecondaryButton>
        <PrimaryButton onClick={leaveGame}>Leave Game</PrimaryButton>
      </ElementGroup>
    {/if}
  {:else}
    <SecondaryButton onClick={leaveGame}>End Game</SecondaryButton>
  {/if}
  {#if ($ownPlayer?.actions || []).length > 0}
    {#if isAllIn}
      <ElementGroup>
        <div>Do you really want to go all in?</div>
        <SecondaryButton onClick={toggleAllIn}>Cancel</SecondaryButton>
        <PrimaryButton onClick={allIn}
          ><Icon data={exclamation} />&nbsp;All In</PrimaryButton
        >
      </ElementGroup>
    {:else if isIncreaseBlinds}
      <ElementGroup>
        <NumericInput
          id="new-blinds"
          placeholder="Small Blind"
          range={[($activeGame?.blind || 0) * 2, null]}
          bind:value={newSmallBlind}
        />
        <SecondaryButton onClick={toggleIncreaseBlinds}>Cancel</SecondaryButton>
        <PrimaryButton onClick={increaseBlinds}
          ><Icon data={arrowUp} />&nbsp;Increase Blinds</PrimaryButton
        >
      </ElementGroup>
    {:else if isFold}
      <ElementGroup>
        <div>Do you really want to fold?</div>
        <SecondaryButton onClick={toggleFold}>Cancel</SecondaryButton>
        <PrimaryButton onClick={fold}
          ><Icon data={times} />&nbsp;Fold</PrimaryButton
        >
      </ElementGroup>
    {:else if isRaise}
      <ElementGroup>
        <NumericInput
          id="raise-amount"
          placeholder="Amount"
          range={[($activeGame?.round?.bet || 0) * 2, null]}
          bind:value={raiseAmount}
        />
        <SecondaryButton onClick={toggleRaise}>Cancel</SecondaryButton>
        <PrimaryButton
          disabled={!raiseAmount ||
            raiseAmount < ($activeGame?.round?.bet || 0) * 2}
          onClick={() => raiseRound(raiseAmount || 0)}
          ><Icon data={arrowUp} />&nbsp;Raise</PrimaryButton
        >
      </ElementGroup>
    {:else}
      <ElementGroup>
        {#if hasActionAssigned("startRound", $ownPlayer)}
          <PrimaryButton onClick={startRound}>Start</PrimaryButton>
        {/if}
        {#if hasActionAssigned("check", $ownPlayer)}
          <PrimaryButton onClick={checkRound}
            ><Icon data={question} />&nbsp;Check</PrimaryButton
          >
        {/if}
        {#if hasActionAssigned("call", $ownPlayer)}
          <PrimaryButton onClick={callRound}
            ><Icon data={check} />&nbsp;Call</PrimaryButton
          >
        {/if}
        {#if hasActionAssigned("fold", $ownPlayer)}
          <PrimaryButton onClick={toggleFold}
            ><Icon data={times} />&nbsp;Fold</PrimaryButton
          >
        {/if}
        {#if hasActionAssigned("raise", $ownPlayer)}
          <PrimaryButton onClick={toggleRaise}
            ><Icon data={arrowUp} />&nbsp;Raise</PrimaryButton
          >
        {/if}
        {#if hasActionAssigned("disclose", $ownPlayer)}
          <PrimaryButton onClick={discloseCards}
            ><Icon data={eye} />&nbsp;Disclose</PrimaryButton
          >
        {/if}
        {#if hasActionAssigned("endRound", $ownPlayer)}
          <PrimaryButton onClick={endRound}>Next Round</PrimaryButton>
        {/if}
        {#if hasActionAssigned("allIn", $ownPlayer)}
          <PrimaryButton onClick={toggleAllIn}
            ><Icon data={exclamation} />&nbsp;All In</PrimaryButton
          >
        {/if}
        {#if hasActionAssigned("increaseBlinds", $ownPlayer)}
          <PrimaryButton onClick={toggleIncreaseBlinds}
            ><Icon data={arrowUp} />&nbsp;Increase Blinds</PrimaryButton
          >
        {/if}
      </ElementGroup>
    {/if}
  {:else}
    <div>
      Please wait {`for ${
        $players.get($activeGame?.round?.currentPlayerId || "")?.name ||
        "other player"
      }`}...
    </div>
  {/if}
</ActionRow>
