<script lang="typescript">
  import { scale } from "svelte/transition";
  import { Card, Card_Color } from "../../types/proto/card";

  export let card: Card | null;

  const isRed =
    card?.color === Card_Color.COLOR_HEARTS ||
    card?.color === Card_Color.COLOR_TILES;
</script>

<div
  in:scale
  class="grid w-10 h-16 border border-gray-300 bg-white shadow-sm rounded-md items-center justify-center"
>
  {#if card !== null}
    <div
      class={`${
        isRed ? "text-red-600" : "text-gray-900"
      } font-bold grid grid-flow-row gap-1 justify-items-center`}
    >
      <div class="text-xl m-0 p-0 leading-none">
        {#if card.color === Card_Color.COLOR_PIKES}
          ♠
        {:else if card.color === Card_Color.COLOR_HEARTS}
          ♡
        {:else if card.color === Card_Color.COLOR_TILES}
          ♢
        {:else if card.color === Card_Color.COLOR_CLOVERS}
          ♣
        {/if}
      </div>
      <div class="text-lg m-0 p-0 leading-none">
        {#if card.value === 1}
          A
        {:else if card.value >= 2 && card.value <= 10}
          {card.value}
        {:else if card.value === 11}
          J
        {:else if card.value === 12}
          Q
        {:else if card.value === 13}
          K
        {/if}
      </div>
    </div>
  {:else}
    <div class="text-gray-900 font-bold">?</div>
  {/if}
</div>
