<script lang="typescript">
  import { fade } from "svelte/transition";
  import type { Combination } from "../../types/proto/game";
  import Card from "./Card.svelte";
  import CardGroup from "./CardGroup.svelte";

  export let combination: Combination;
</script>

<div in:fade class="grid grid-cols-2 items-center justify-items-center">
  {#if combination.combination?.$case === "highCard"}
    <div class="font-bold text-white">High Card:</div>
    <CardGroup>
      <Card card={combination.combination.highCard.card || null} />
      <Card card={combination.combination.highCard.kickers[0]} />
      <Card card={combination.combination.highCard.kickers[1]} />
      <Card card={combination.combination.highCard.kickers[2]} />
      <Card card={combination.combination.highCard.kickers[3]} />
    </CardGroup>
  {:else if combination.combination?.$case === "pair"}
    <div class="font-bold text-white">Pair:</div>
    <CardGroup>
      <Card card={combination.combination.pair.cards[0]} />
      <Card card={combination.combination.pair.cards[1]} />
      <Card card={combination.combination.pair.kickers[0]} />
      <Card card={combination.combination.pair.kickers[1]} />
      <Card card={combination.combination.pair.kickers[2]} />
    </CardGroup>
  {:else if combination.combination?.$case === "twoPair"}
    <div class="font-bold text-white">Two Pair:</div>
    <CardGroup>
      <Card card={combination.combination.twoPair.aCards[0]} />
      <Card card={combination.combination.twoPair.aCards[1]} />
      <Card card={combination.combination.twoPair.bCards[0]} />
      <Card card={combination.combination.twoPair.bCards[1]} />
      <Card card={combination.combination.twoPair.kicker || null} />
    </CardGroup>
  {:else if combination.combination?.$case === "threeKind"}
    <div class="font-bold text-white">Three of a Kind:</div>
    <CardGroup>
      <Card card={combination.combination.threeKind.cards[0]} />
      <Card card={combination.combination.threeKind.cards[1]} />
      <Card card={combination.combination.threeKind.cards[2]} />
      <Card card={combination.combination.threeKind.kickers[0]} />
      <Card card={combination.combination.threeKind.kickers[1]} />
    </CardGroup>
  {:else if combination.combination?.$case === "fourKind"}
    <div class="font-bold text-white">Four of a Kind:</div>
    <CardGroup>
      <Card card={combination.combination.fourKind.cards[0]} />
      <Card card={combination.combination.fourKind.cards[1]} />
      <Card card={combination.combination.fourKind.cards[2]} />
      <Card card={combination.combination.fourKind.cards[3]} />
      <Card card={combination.combination.fourKind.kicker || null} />
    </CardGroup>
  {:else if combination.combination?.$case === "straight"}
    <div class="font-bold text-white">Straight:</div>
    <CardGroup>
      <Card card={combination.combination.straight.cards[0]} />
      <Card card={combination.combination.straight.cards[1]} />
      <Card card={combination.combination.straight.cards[2]} />
      <Card card={combination.combination.straight.cards[3]} />
      <Card card={combination.combination.straight.cards[4]} />
    </CardGroup>
  {:else if combination.combination?.$case === "flush"}
    <div class="font-bold text-white">Flush:</div>
    <CardGroup>
      <Card card={combination.combination.flush.cards[0]} />
      <Card card={combination.combination.flush.cards[1]} />
      <Card card={combination.combination.flush.cards[2]} />
      <Card card={combination.combination.flush.cards[3]} />
      <Card card={combination.combination.flush.cards[4]} />
    </CardGroup>
  {:else if combination.combination?.$case === "fullHouse"}
    <div class="font-bold text-white">Full House:</div>
    <CardGroup>
      <Card card={combination.combination.fullHouse.parents[0]} />
      <Card card={combination.combination.fullHouse.parents[1]} />
      <Card card={combination.combination.fullHouse.children[0]} />
      <Card card={combination.combination.fullHouse.children[1]} />
      <Card card={combination.combination.fullHouse.children[2]} />
    </CardGroup>
  {:else if combination.combination?.$case === "straightFlush"}
    <div class="font-bold text-white">Straight Flush:</div>
    <CardGroup>
      <Card card={combination.combination.straightFlush.cards[0]} />
      <Card card={combination.combination.straightFlush.cards[1]} />
      <Card card={combination.combination.straightFlush.cards[2]} />
      <Card card={combination.combination.straightFlush.cards[3]} />
      <Card card={combination.combination.straightFlush.cards[4]} />
    </CardGroup>
  {:else if combination.combination?.$case === "royalFlush"}
    <div class="font-bold text-white">Royal Flush:</div>
    <CardGroup>
      <Card card={combination.combination.royalFlush.cards[0]} />
      <Card card={combination.combination.royalFlush.cards[1]} />
      <Card card={combination.combination.royalFlush.cards[2]} />
      <Card card={combination.combination.royalFlush.cards[3]} />
      <Card card={combination.combination.royalFlush.cards[4]} />
    </CardGroup>
  {/if}
</div>
