<script lang="typescript">
  export let amount: number | null = null;
  export let range: [number, number] | null = null;
</script>

<div class="inline-flex items-center flex-nowrap">
  <div>
    {amount !== null
      ? Math.round(amount)
      : range !== null
      ? `${Math.round(range[0])}/${Math.round(range[1])}`
      : "-"}
  </div>
  <div
    class="ml-1 rounded-full text-xs bg-yellow-500 text-gray-900 w-4 h-4 justify-center items-center inline-flex"
  >
    C
  </div>
</div>
