<script lang="typescript">
  import Inactive from "./Inactive.svelte";
  import Admin from "./Admin.svelte";
  import Credits from "./Credits.svelte";
  import Card from "./Card.svelte";
  import CardGroup from "./CardGroup.svelte";
  import Blinds from "./Blinds.svelte";
  import Divider from "../layout/Divider.svelte";
  import type { Game } from "../../types/proto/game";
  import type { Player } from "../../types/proto/player";

  export let game: Game;
  export let playerId: string;
  export let ownPlayerId: string;
  export let activities: Map<string, boolean>;
  export let players: Map<string, Player>;
</script>

<div
  class={`${
    game.round?.winners.find((winner) => winner === playerId)
      ? "border-yellow-400 border-4"
      : game.round?.currentPlayerId === playerId
      ? "border-gray-600 border-2"
      : "border-gray-400 border"
  } p-4 rounded-md transition-colors ${
    game.round?.foldPlayerIds.find(
      (foldedPlayerId) => foldedPlayerId === playerId
    )
      ? "opacity-20"
      : ""
  }`}
>
  <div class="flex justify-between">
    <div>
      <div class="flex items-center mb-4">
        <span
          class={`font-bold ${playerId === ownPlayerId ? "animate-pulse" : ""}`}
        >
          <span
            >{players.get(playerId)?.name}
            <Admin isAdmin={game.adminId === playerId} />
            <Inactive isActive={activities.get(playerId) || false} />
          </span>
          <Blinds {game} {playerId} />
        </span>
      </div>
      <Credits amount={players.get(playerId)?.credits} />
    </div>
    <CardGroup>
      {#each game.round?.assignedCards[playerId]?.cards || [] as card}
        <Card {card} />
      {/each}
    </CardGroup>
  </div>
  {#if (game.round?.assignedCards[playerId]?.count || 0) > 0}
    <Divider spacing="sm" />
    <Credits amount={game.round?.bets[playerId] || 0} />
  {/if}
</div>
