<script lang="typescript">
  import Dialog from "../../components/layout/Dialog.svelte";
  import BackToStart from "../../components/navigation/backToStart.svelte";
</script>

<Dialog header="Page not found :(">
  <p>The requested page seems to be missing...</p>
  <BackToStart />
</Dialog>
