<script lang="typescript">
  import Dialog from "../../components/layout/Dialog.svelte";
  import BackToStart from "../../components/navigation/backToStart.svelte";
</script>

<Dialog header="Unexpected Error :(">
  <p>Something went wrong unexpected...</p>
  <BackToStart />
</Dialog>
