<div class="flex flex-row items-center">
  <img
    src="/android-chrome-192x192.png"
    class="w-6 h-6 inline mr-2"
    alt="Logo"
  />
  <h1 class="font-medium self-center text-xl sm:text-2xl uppercase m-0">
    <slot />
  </h1>
</div>
