<script lang="typescript">
  import { onMount } from "svelte";
  import { navigateTo } from "svelte-router-spa";
  import Routes from "./routes/Routes.svelte";
  import Notifications from "./components/notifications/Notifications.svelte";

  onMount(() => {
    const _ = window.onunhandledrejection;
    window.onunhandledrejection = (e: any) => {
      console.error(e);
      navigateTo("/errors/unexpected");
    };
  });
</script>

<div class="app">
  <Notifications>
    <Routes />
  </Notifications>
</div>
