<script lang="typescript">
  import {
    activeGame,
    ownPlayer,
    currentRound,
    players,
    tweenedCredits,
    activities,
  } from "../store";
  import type { Client } from "../../types/proto/message";
  import Credits from "../../components/game/Credits.svelte";
  import Card from "../../components/game/Card.svelte";
  import CardGroup from "../../components/game/CardGroup.svelte";
  import Combination from "../../components/game/Combination.svelte";
  import Actions from "../../components/game/Actions.svelte";
  import Player from "../../components/game/Player.svelte";

  export let leaveGame: () => void;
  export let sendWsMessage: (msg: Client) => void;
</script>

<div>
  {#if $activeGame && $ownPlayer}
    <div class="grid grid-flow-col gap-4">
      {#each [...$currentRound.prevPlayers, $ownPlayer.id, ...$currentRound.nextPlayers] as p}
        <Player
          activities={$activities}
          game={$activeGame}
          ownPlayerId={$ownPlayer.id}
          playerId={p}
          players={$players}
        />
      {/each}
    </div>
    <div
      class="flex items-center border-green-900 border-2 rounded-md bg-gray-700 my-4 p-4 h-32"
    >
      {#if $activeGame.round?.winningCombination}
        <Combination combination={$activeGame.round.winningCombination} />
      {:else}
        <div class="text-white grid grid-cols-2 gap-1">
          <div>Bet:</div>
          <Credits amount={$tweenedCredits.bet} />
          <div>Pot:</div>
          <Credits amount={$tweenedCredits.pot} />
          <div>Blinds:</div>
          <Credits range={[$activeGame.blind, $activeGame.blind * 2]} />
        </div>
        <div class="flex-grow flex justify-center">
          <CardGroup>
            {#each $activeGame.round?.openCards || [] as card}
              <Card {card} />
            {/each}
          </CardGroup>
        </div>
      {/if}
    </div>
  {:else}
    <p>Game not found</p>
  {/if}
</div>
<Actions {leaveGame} {sendWsMessage} />
