<script lang="typescript">
  import { activeGame, players } from "../store";
  import SecondaryButton from "../../components/buttons/Secondary.svelte";
  import ActionRow from "../../components/buttons/ActionRow.svelte";

  export let leaveGame: () => void;
</script>

<div class="mb-4">
  {$activeGame?.playerIds
    .map((id) => $players.get(id))
    .filter((player) => (player?.credits || 0) > 0)[0]?.name || "Unknown"} has won!
  Congratulations...
</div>
<ActionRow>
  <div />
  <SecondaryButton onClick={leaveGame}>Leave Game</SecondaryButton>
</ActionRow>
