<script lang="typescript">
  import { activeGame, ownPlayer, players, activities } from "../store";
  import PrimaryButton from "../../components/buttons/Primary.svelte";
  import SecondaryButton from "../../components/buttons/Secondary.svelte";
  import ActionRow from "../../components/buttons/ActionRow.svelte";
  import TextInput from "../../components/inputs/TextInput.svelte";
  import Label from "../../components/inputs/Label.svelte";
  import Inactive from "../../components/game/Inactive.svelte";
  import Admin from "../../components/game/Admin.svelte";
  import type { Client } from "../../types/proto/message";

  export let sendWsMessage: (msg: Client) => void;
  export let leaveGame: () => void;

  const startGame = () =>
    sendWsMessage({
      message: {
        $case: "gameStarted",
        gameStarted: {},
      },
    });

  const onChangeName = async (ev: any) => {
    const name = ev?.target?.value;
    if (!name) {
      return;
    }
    sendWsMessage({
      message: {
        $case: "nameUpdated",
        nameUpdated: { name },
      },
    });
  };
</script>

<div class="mb-6 flex items-center">
  <div>Token</div>
  <div
    class="font-extrabold mx-4 px-3 py-2 rounded-md bg-gray-300 border-black"
  >
    {$activeGame?.token.toUpperCase() || "-"}
  </div>
</div>
<div class="grid md:grid-cols-3 grid-cols-1 gap-8 mb-8">
  <div class="md:col-span-2">
    <h4 class="font-bold mb-4">Settings</h4>
    <div class="max-w-xs">
      <Label target="name">Your Name</Label>
      <TextInput
        id="name"
        placeholder="Name"
        value={$ownPlayer?.name || ""}
        on:change={onChangeName}
      />
    </div>
  </div>
  <div>
    <h4 class="font-bold mb-4">{$activeGame?.playerIds.length}/8 Players</h4>
    <ul>
      {#each $activeGame?.playerIds || [] as p}
        <li>
          {$players.get(p)?.name}
          <Admin isAdmin={$activeGame?.adminId === p} />
          <Inactive isActive={$activities.get(p) || false} />
        </li>
      {/each}
    </ul>
  </div>
</div>
<ActionRow>
  <SecondaryButton onClick={leaveGame}>Leave Game</SecondaryButton>
  {#if $activeGame?.adminId === $ownPlayer?.id}
    <PrimaryButton
      disabled={($activeGame?.playerIds.length || 0) < 2}
      onClick={startGame}>Start</PrimaryButton
    >
  {:else}
    <p>Please wait for the start.</p>
  {/if}
</ActionRow>
